:root {
  /* COLOR */
  --color-text-primary-hue: 213;
  --color-text-primary-saturate: 10%;
  --color-text-primary-main: hsl(var(--color-text-primary-hue), var(--color-text-primary-saturate), 32%);
  --color-text-primary-main20: hsl(var(--color-text-primary-hue), var(--color-text-primary-saturate), 86%);

  --color-text-secondary-hue: 210;
  --color-text-secondary-saturate: 6%;
  --color-text-secondary-main: hsl(var(--color-text-secondary-hue), var(--color-text-secondary-saturate), 59%);
  --color-text-secondary-main20: hsl(var(--color-text-secondary-hue), var(--color-text-secondary-saturate), 92%);
  --color-text-secondary-main25: hsl(var(--color-text-secondary-hue), var(--color-text-secondary-saturate), 90%);
  --color-text-secondary-main30: hsl(var(--color-text-secondary-hue), var(--color-text-secondary-saturate), 88%);
  --color-text-secondary-main80: hsl(var(--color-text-secondary-hue), var(--color-text-secondary-saturate), 67%);

  /* FONT SIZE */
  --text-size-label: 0.83333333rem;  /* 10px */
  --text-size-body: 1rem;  /* 12px  DEFAULT */
  --text-size-large-body: 1.166666667rem;  /* 14px */
  --text-size-subtitle: 1.33333333rem;  /* 16px */
  --text-size-header: 1.5rem;  /* 18px */
  --text-size-title: 2.5rem;  /* 30px */

  /* LINE HEIGHT */
  --text-line-height-body: 1.33333333rem;  /* 16px DEFAULT */
  --text-line-height-subtitle: 2rem;  /* 24px */
  --text-line-height-title: 3.33333333rem;  /* 40px */

  /* WEIGHT */
  --text-weight-extra-light: 200;
  --text-weight-light: 300;
	--text-weight-regular: 400;
	--text-weight-medium: 500;
	--text-weight-semibold: 600;
	--text-weight-bold: 700;
	--text-weight-extra-bold: 800;
}
