@font-face {
  font-family: 'Manrope';
  src: url('./assets/font/Manrope-VariableFont_wght.ttf') format(‘truetype’);
  font-weight: 1 999;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
